<br>

<div>
  <label>Task name:</label> <input #taskName />
  <br>
  <br>
  <button (click)="add(taskName.value); taskName.value=''">
    Add
  </button>
</div>
<div *ngIf="selectedTask">
  <br>
  <button (click)="gotoDetail()">View Details</button>
</div>
<br>
<ul class="tasks">
  <li *ngFor="let task of tasks" (click)="onSelect(task)"
      [class.selected]="task === selectedTask">
    <span class="badge">{{task.id}}</span>
    <span>{{task.name}}</span>
    <button class="delete"
      (click)="delete(task); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedTask">
  <button (click)="gotoDetail()">View Details</button>
</div>
